config.google.app.credentials.json
.DS_Store
.idea/
.venv/
logs/
model/
*.h5
*.pkl
*.npy
*.swo
*.ini
*.bak
*ipynb_checkpoints*
*Untitled*
*untitled*
*test*
__pycache__/
__pydummy__
__pypackages__/
docker-compose.yml
